body {
  margin: 0;
  font-family: "sfpro-bold";
}
.hb-header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
header {
  width: 100%;
  flex-direction: column;
  background-color: #000000;
  color: #f4f4f4;
  white-space: nowrap;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-size: 18px;
}
.bottom-header {
  height: 36px;
  background-color: #888888;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.top-header,
.bottom-header {
  width: 100%;
  margin: auto;
}
.side-menu {
  display: none;
  height: 100%;
  min-width: 3rem;
  background-color: #fe0000;
  cursor: pointer;
}
.logo {
  display: block;
  background-color: #fe0000;
}
.logo > a {
  height: 100%;
}
.logo .logo-img {
  display: block;
  width: 232px;
  aspect-ratio: auto 232 / 52;
  height: 52px;
  margin: auto;
}
.bottom-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav,
.bottom-nav {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
}
.nav-item {
  padding: 0 10px;
}
ul > li {
  display: inline-block;
}
.search {
  position: relative;
}
.search .search-icon {
  position: absolute;
  right: 1.4rem;
  top: 0.72rem;
  color: #888888;
}
.search-input {
  width: 120px;
  height: 28px;
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 10px;
}
.search-input:focus {
  outline: none;
}
.login-btn {
  width: 96px;
  height: 28px;
  background-color: #000000;
  border-radius: 20px;
  border: 2px solid black;
  border-width: 0.4px;
  color: #f4f4f4;
  cursor: pointer;
  border-color: #f4f4f4;
}

.top-header,
.bottom-nav {
  max-width: 1056px;
}

/* Media Queries */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .top-nav,
  .search,
  .login-btn {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .side-menu {
    display: flex;
    align-items: center;
  }
  .menu-icon {
  margin-left: 14px;
  }
}

/* BANNER */
.banner {
  text-align: center;
  margin: 1.2rem 0;
}
.banner-image {
  width: 970px;
  height: 250px;
}
