body {
  margin: 0;
  font-family: "sfpro-bold";
  background-color: #f4f4f4;
  width: 100%;
}
.hb-header {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}
header {
  width: 100%;
  flex-direction: column;
  background-color: #000000;
  color: #f4f4f4;
  white-space: nowrap;
}
.top-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 52px;
  font-size: 18px;
}
.bottom-header {
  height: 36px;
  background-color: #888888;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.top-header,
.bottom-header {
  width: 100%;
  margin: auto;
}
.side-menu {
  display: none;
  height: 100%;
  min-width: 3rem;
  background-color: #fe0000;
  cursor: pointer;
}
.logo {
  display: block;
  background-color: #fe0000;
}
.logo > a {
  height: 100%;
}
.logo .logo-img {
  display: block;
  width: 232px;
  aspect-ratio: auto 232 / 52;
  height: 52px;
  margin: auto;
}
.bottom-nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav,
.bottom-nav {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
}
.nav-item {
  padding: 0 10px;
}
ul > li {
  display: inline-block;
}
.search {
  position: relative;
}
.search .search-icon {
  position: absolute;
  right: 1.4rem;
  top: 0.72rem;
  color: #888888;
}
.search-input {
  width: 120px;
  height: 28px;
  border-radius: 20px;
  margin-right: 10px;
  padding-left: 10px;
}
.search-input:focus {
  outline: none;
}
.login-btn {
  width: 96px;
  height: 28px;
  background-color: #000000;
  border-radius: 20px;
  border: 2px solid black;
  border-width: 0.4px;
  color: #f4f4f4;
  cursor: pointer;
  border-color: #f4f4f4;
}

.top-header,
.bottom-nav {
  max-width: 1056px;
}

/* Sidebar */
.sidebar {
  position: absolute;
  display: inline-block;
  height: 100vh;
  width: 300px;
  left: -320px;
  background-color: #1d1d1d;
  transition: left 0.4s;
  overflow: hidden;
  z-index: 1;
}
.sidebar-open {
  left: 0px;
}
.sidebar-menu {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 0.1rem;
}
.sidebar-menu a {
  text-decoration: none;
}
.sidebar-menu-item {
  position: relative;
  width: 100%;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem 0;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgb(59, 59, 59) 0%,
    #1d1d1d 5%,
    #1d1d1d 95%,
    rgba(59, 59, 59, 1) 100%
  );
  transition: background-color 0.2s ease;
}
.sidebar-menu-item:hover {
  background: #373737;
}
.sidebar-menu-item-icon {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
}
.sidebar-menu-item-text:active {
  text-decoration: none;
}
.bg-blur {
  display: none;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.2s ease;
}
.hb-container {
  max-width: 1056px;
  margin: auto;
}

/* Banner */
.banner {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}

/* Main Content */
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  width: 100%;
}
.row-slider {
  width: 70%;
  padding: 0 2% 0 0;
}
.row-banner {
  width: 28%;
}

.slider {
  position: relative;
  height: auto;
}
.slider-image {
  overflow: hidden;
  position: relative;
  max-height: 411px;

  margin: auto;
  display: flex;
  align-items: center;
}
.slider-image-item {
  flex: 0 0 100%;
  transition: transform 1s ease;
}
.slider-left,
.slider-right {
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  top: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.slider-left i,
.slider-right i {
  transform: scale(1.5);
}
.slider-left:active,
.slider-right:active {
  background-color: #353535;
}
.slider-left {
  left: 1rem;
}
.slider-right {
  right: 1rem;
}
.slider-number {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  font-family: "sfpro-regular";
  font-size: 14px;
  background: #ffffff;
}
.slider-number .active {
  border-top: #fb0d1b solid 3px;
  color: #fb0d1b;
}
.slider-number-item {
  line-height: 32px;
  text-align: center;
  width: 100%;
  border-top: #888888 solid 3px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.slider-number-item:hover {
  background-color: #c3c3c3;
}

/* Slider Sub */
.slider-sub {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* Exchange */
.exchange {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  background: #ffffff;
  font-size: 14px;
}
.exchange-item {
  display: flex;
  justify-content: center;
  margin: 0.2rem 0;
  line-height: 22px;
}
.exchange .chevron-down-icon {
  margin: 0 0.1rem;
}

.exchange .down .exchange-item-price,
.exchange .down .chevron-down-icon {
  color: #fb0d1b;
}

.exchange .up .exchange-item-price {
  color: #41b87f;
}
.exchange .up .chevron-down-icon {
  color: #41b87f;
  transform: rotate(180deg);
}
.exchange .divider {
  display: none;
}

.new-mini {
  display: flex;
  justify-content: space-between;
}
.new-mini-card {
  display: flex;
  background-color: #ffffff;
  width: 49%;
  max-height: 100px;
}
.new-mini-card-image {
  width: 100%;
}
.new-mini-card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.new-mini-card-content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.new-mini-card-content-text {
  font-size: 16px;
  margin: 0.4rem;
}

/* Row Content */
.row-content {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}
.row-content-card,
.row-content-ad,
.row-content-youtube,
.row-content-breaking-news {
  box-sizing: border-box;
  width: 32%;
  margin: 0.8rem 0.8rem 0 0;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 290px;
  cursor: pointer;
}
.row-content-card img {
  height: 60%;
}
.row-content-card p {
  margin: 0.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

/* Content Youtube */
.row-content-youtube {
  max-height: none;
  align-items: center;
  height: 592px;
}
.row-content-youtube-title {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.row-content-youtube-title-icon {
  height: 40px;
  width: 40px;
  margin-right: 0.6rem;
}
.row-content-youtube-title-center {
  width: 50%;
  margin-right: 1rem;
}
.row-content-youtube-title-center-text {
  font-family: "sfpro-regular";
  font-weight: 600;
}
.row-content-youtube-title-center-button {
  height: 22px;
  width: 68px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #fb0d1b;
  border: none;
  font-size: 12px;
  margin-top: 0.2rem;
}
.row-content-youtube-title-image {
  width: 88px;
  object-fit: contain;
}
.row-content-youtube-item {
  width: 90%;
  max-height: 88px;
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0;

  font-size: 16px;
  font-family: "sfpro-regular";
  overflow: hidden;
  text-overflow: ellipsis;
}
.row-content-youtube-item * {
  width: 50% !important;
}
.row-content-youtube-item p {
  margin: 0.2rem 0.4rem;
}
.row-content-youtube .divider {
  width: 80%;
}
.row-content-youtube-show-all {
  width: 90%;
  height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px #fb0d1b solid;
  color: #fb0d1b;
  font-size: 14px;
  margin: 0.4rem 0 1rem;
  cursor: pointer;
}

/* Breaking News */
.row-content-breaking-news {
  padding: 0.8rem;
  height: auto;
}
.row-content-breaking-news-title {
  padding: 0.2rem 0 0.2rem 1rem;
  border-left: 4px #FB0D1B solid;
  font-size: 18px;
}
.row-content-breaking-news-text {
  margin: 0.6rem 0;
  font-family: "sfpro-regular";
  font-size: 16px;
  line-height: 20px;
}

/* Footer */
footer {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1rem;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #333333;
}
.footer-content {
  max-width: 1056px;
  margin: auto;
  padding-top: 0.1rem;
  display: flex;
  flex-wrap: wrap;
}
.footer-content-brand {
  width: 100%;
  font-size: 24px;
  margin: 0.8rem 0 0 0;
  padding-left: 1rem;
  border-left: 3px #fb0d1b solid;
}
.footer-content-brand .text-red {
  color: #fb0d1b;
}
.footer-content-brand .text-gray {
  color: #5d5d5d;
  position: relative;
  left: -4px;
}
.footer .divider {
  margin: 1rem 0 0 0;
}

/* Footer Categories */
.footer-content-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 1rem 0rem 0 0;
  color: #333333;
}
.footer-content-list-title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.footer-content-list-item {
  font-family: "sfpro-regular";
  font-size: 13px;
  margin-bottom: 0.4rem;
}

/* Footer Social */
.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.social-platform {
  width: 60%;
}
.social-platform-content {
  margin-top: 0.8rem;
}
.social-platform .social-platform-content .social-platform-content-icon {
  margin: auto;
  width: 24.5px;
  height: 24px;
  object-fit: cover;
  border-radius: 100%;
}
.social-platform-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.social-app {
  width: 35%;
}
.social-app-content {
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.social-app-content-btn {
  margin: auto;
  width: 93px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-size: contain;
}
.social-app-content .app-store {
  background-image: url("../images/app/app-store.jpg");
}
.social-app-content .google-play {
  background-image: url("../images/app/google-play.jpg");
}
.social-app-content .huawei-gallery {
  background-image: url("../images/app/huawei-gallery.jpg");
}
.footer-policy {
  font-family: "sfpro-regular";
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.footer-policy a {
  font-size: 13px;
  padding-right: 10px;
  height: 16px;
  line-height: 16px;
  border-right: 1px #333333 solid;
}
.footer-desc {
  font-family: "sfpro-regular";
  margin: 0.8rem 0;
  color: #6d6d6d;
  font-size: 12px;
}

.error-notification {
  margin-left: 3rem;
}
.error-notification-date {
  color: #333333;
  font-size: 12px;
  margin-right: 0.2rem;
}
.error-notification-btn {
  height: 22px;
  background-color: #ffffff;
  border: 2px #fb0d1b solid;
  border-radius: 4px;
  font-size: 12px;
  color: #fb0d1b;
  padding: 4px 8px;
  line-height: 11px;
  margin-left: 0.2rem;
}

/* Media Queries */
/* Header */
@media only screen and (max-width: 1024px) {
  .top-nav,
  .search,
  .login-btn {
    display: none;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .side-menu {
    display: flex;
    align-items: center;
  }
  .menu-icon {
    margin-left: 14px;
  }
  .bottom-header {
    display: none;
  }

  /* Banner */
  .banner {
    width: 98%;
    margin: 1%;
  }

  /* Slider */
  .row-slider {
    width: 100%;
    padding: 0 1% 1% 1%;
  }
  .slider-left,
  .slider-right {
    top: 44%;
  }
  .slider-image {
    max-height: 30rem;
  }

  /* Vertical Banner */
  .row-banner {
    display: none;
  }

  .exchange {
    flex-wrap: wrap;
  }
  .exchange-item {
    min-width: 8rem;
  }
  .exchange .divider {
    display: block;
  }
}

@media only screen and (max-width: 1070px) and (min-width: 1025px) {
  .hb-container {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .new-mini {
    flex-direction: column;
  }
  .new-mini-card {
    width: 100%;
    max-height: 250px;
  }
  .new-mini-card:last-child {
    margin-top: 1rem;
  }
}
